.root {
    -fx-background-color: #1A1A1A;
    -fx-font-family: "JetBrains Mono", "Consolas", sans-serif;
}

.sidebar-button {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.sidebar-button:hover {
    -fx-background-color: #1e1e1e;
}

.sidebar-button.selected {
    -fx-background-color: #00c20c;
    -fx-text-fill: white;
}
